
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{ 
  box-sizing: border-box;
  font-family: Oxygen,sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* MOBILE FIRST */

.top-bar{
  display: flex;
  flex-direction: column;
}

.ofertas{
  width: 100%;
  max-height: 52px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #C3171D;
  padding: 8px 16px;
}

.ofertas > p{
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 18px;
  max-width: 236px;
}

.ofertas > img{
  display: flex;
  align-self: center;
  width: 20px;
  height: 18px;
}

.lojas-parceiras{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.lojas-parceiras > ul {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}

.lojas-parceiras > ul li a{
  display: flex;
  align-items: center;
}

.header-mobile{
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.header-mobile input {
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  height: 40px;
}

.header-mobile input::placeholder,
.search-desktop > input::placeholder{
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.header-action-mobile{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.header-action-mobile img {
  cursor: pointer;
}

.minicart-mobile > img{
  width: 28px;
  height: auto;
}

nav{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

nav img{
  cursor: pointer;
}

.container-header{
  width: 100%;
  max-width: 1254px;
}

.header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 10px;
}

.header-action-desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo-desktop {
  width: 7%;
}

.search-desktop{
  width: 60%;
  display: flex;
  justify-content: center;
}

.search-desktop > input{
  width: 100%;
  max-width: 872px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  height: 40px;
  padding: 11px 0 11px 20px;
}

.header-action-desktop{
  width: 28%;
}

.header-action-desktop span,
.header-action-desktop p{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.minicart-desktop > a img,
.login > a img,
.wishlist > a img{
  width: 24px;
  height: 20px;
}

.wishlist a,
.login a{
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.wishlist > a span{
  width: 45px;
}

.login span{
  display: block;
}

nav ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li a{
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  height: 32px;
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav ul li a:hover{
  color: #C3171D;
}

footer{
  margin-top: 60px;
}

footer section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter-container{
  background-color: #000;
}

.newsletter-wrap{
  max-width: 1254px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsletter{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0;
}

.newsletter h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .05em;
  color: #fff;
}

.newsletter p{
  font-size: 14px;
  letter-spacing: .05em;
  color: #fff;
}

form{
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
}

form input{
  background-color: transparent;
  color: #fff;
  width: 266px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

form button{
  background-color: transparent;
  max-width: 211px;
  width: 211px;
  height: 47px;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .05em;
}

.cookie-container {
  background-color: #fff;
}

.cookie{
  max-width: 1254px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  justify-content: space-between;
}

.cookie p{
  max-width: 639px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 22px;
  color: #000;
}

.cookie button{
  max-width: 200px;
  width: 200px;
  height: 47px;
  border: 1px solid #000;
  background: transparent;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 17px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  nav {
    display: none;
  }

  .newsletter-container{
    padding-bottom: 25px;
  }

  .newsletter{
    width: auto;
  }

  .newsletter-wrap{
    flex-direction: column;
  }

  form{
    align-items: center;
    flex-direction: column;
  }

  .cookie{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    gap: 15px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px){
  .ofertas > p {
    max-width: 100%;
  }

  .lojas-parceiras > ul{
    max-width: 1254px;
    width: 100%;
    gap: 30px;
    justify-content: flex-start !important;
  }
  .header-mobile {
    display: none;
  }
}


