@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{ 
  box-sizing: border-box;
  font-family: Oxygen,sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* MOBILE FIRST */

/* --- HEADER ---   */

.top-bar{
  display: flex;
  flex-direction: column;
}

.ofertas{
  width: 100%;
  max-height: 52px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #C3171D;
  padding: 8px 16px;
}

.ofertas > p{
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 18px;
  max-width: 236px;
}

.ofertas > img{
  display: flex;
  align-self: center;
  width: 20px;
  height: 18px;
}

.lojas-parceiras{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.lojas-parceiras > ul {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}

.lojas-parceiras > ul li a{
  display: flex;
  align-items: center;
}

.header-mobile{
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.header-mobile input {
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  height: 40px;
}

.header-mobile input::placeholder,
.search-desktop > input::placeholder{
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.header-action-mobile{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.header-action-mobile img {
  cursor: pointer;
}

.minicart-mobile > img{
  width: 28px;
  height: auto;
}

nav{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

nav img{
  cursor: pointer;
}

.container-header{
  width: 100%;
  max-width: 1254px;
}

.header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 10px;
}

.header-action-desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo-desktop {
  width: 7%;
}

.search-desktop{
  width: 60%;
  display: flex;
  justify-content: center;
}

.search-desktop > input{
  width: 100%;
  max-width: 872px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  height: 40px;
  padding: 11px 0 11px 20px;
}

.header-action-desktop{
  width: 28%;
}

.header-action-desktop span,
.header-action-desktop p{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.minicart-desktop > a img,
.login > a img,
.wishlist > a img{
  width: 24px;
  height: 20px;
}

.wishlist a,
.login a{
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.wishlist > a span{
  width: 45px;
}

.login span{
  display: block;
}

nav ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li a{
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  height: 32px;
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav ul li a:hover{
  color: #C3171D;
}

/* ---  MAIN ---   */

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.breadCrumb {
  padding: 16px;
}

.breadCrumb p{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 1px;
}

.breadCrumb a{
  text-decoration: none;
  color: #000;
}

.breadCrumb a span{
  text-decoration: underline;
}

.product-main{
  padding: 0 16px;
}

.container-colLeft{
  padding: 0 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-image-product{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;    
}

.image-main img{
  max-height: 390px;
  height: 100%;
  max-width: 382px;
}

.container-colRight{
  width: 100%;
  margin-top: 50px;
}

.container-productBrand{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.identifier-product{
  width: 100%;
  display: flex;
  gap: 35px;
}

.identifier-product span{
  color: #979393;
  letter-spacing: 0.55px;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  line-height: 1px;
}

.title-product h2{
  color: #000000;
  font-size: 17px;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
}

.seller-descrition{
  display: flex;
  align-items: center;
  gap: 7px;
}

.seller-descrition span{
  color: #000;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.55px;
  margin-top: 3px;
}

.seller-descrition img{
  width: 58px;
  height: 15px;
}

.skuSelector{
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skuSelector h4{
  color: #000;
  font-size: 13px;
  letter-spacing: 0.65px;
}

.skuSelector-option{
  display: flex;
  gap: 15px;
}

.skuSelector-option button{
  width: 41.41px;
  height: 36px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.55px;
  line-height: 13px;
  text-align: center;
  color: #000;
  border: 1px solid #E8E8E8;
  background-color: #fff;
  cursor: pointer;
}

.table-priceList button{
  width: 222px;
  height: 36px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.55px;
  line-height: 13px;
  text-align: center;
  color: #000;
  border: 1px solid #E8E8E8;
  background-color: #fff;
  cursor: pointer;
}

.table-priceList button:hover{
  background-color: #000;
  color: #fff;
}

.container-productPrice{
  display: grid;
  grid-gap: 10px;
}

.container-productPrice p{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #6E6E6E;
}

.container-productPrice p span{
  margin: 0 3px;
  text-decoration-line: line-through;
}

.selling-price{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  gap: 20px;
}

.selling-price h2{
  font-size: 36px;
  color: #C3171D;
}

.selling-price span{
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #6E6E6E;
}

.list-price p span{
  margin: 0;
  text-decoration: none;
  color: #c3171d;
  font-weight: 700;
}

.buy-button button{
  width: 389px;
  height: 45px;
  background-color: #000;
  color: #fff;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7px;
  line-height: 12px;
  font-size: 14px;
  cursor: pointer;
}

.buy-button button:hover{
  background-color: #c3171d;
}

.calcule-cep{
  display: grid;
  grid-gap: 5px;
  margin-bottom: 45px;
}

.calcule-cep span:first-child{
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 22.86px;
}

.input-cep input{
  width: 312px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.55px;
  line-height: 13px;
  color: #000;
  border: 1px solid #E8E8E8;
  background-color: #fff;
}

.input-cep input:not(:first-child){
  width: 73px;
  height: 44px;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 17.68px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.not-cep{
  font-size: 12px;
  font-weight: 700;
  color: #6E6E6E;
  letter-spacing: 0.6px;
  line-height: 20px;
}

.social-media{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.calcule-cep .social-media span{
  color: #6E6E6E;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  line-height: 18px;
}

.icon-scialMedia{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.descript-product{
  width: 100%;
  padding: 0 16px;
}

.descript-product h3{
  font-size: 16px;
  letter-spacing: 0.55px;
  line-height: 22px;
  text-align: left;
  color: #000;
}

.container-description p{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.55px;
  line-height: 20px;
  text-align: left;
  color: #000;
  margin: 0;
}

.container-description, .container-especification{
  display: grid;
  grid-gap: 15px;
  margin-bottom: 35px;
}

.especification-product{
  display: grid;
  justify-content: space-between;
  /* grid-gap: 10px; */
  text-align: start;
}

.color-product, 
.gender-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  align-items: flex-start;
  width: 100%;
  background-color: #e8e8e8cf;
  padding: 15px;
}

.color-product span,
.composition-product span,
.gender-product span{
  width: 50%;
  font-size: 12px;
  letter-spacing: 0.55px;
  line-height: 25px;
  color: #000;
  font-weight: 700;
}

.color-product span:not(:first-child),
.composition-product span:not(:first-child),
.gender-product span:not(:first-child){
  width: 50%;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.55px;
  line-height: 25px;
  color: #000;
}

.composition-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
}

/* ---   FOOTER ---   */

footer{
  width: 100%;
  margin-top: 60px;
}

footer section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter-container{
  background-color: #000;
}

.newsletter-wrap{
  max-width: 1254px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsletter{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0;
}

.newsletter h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .05em;
  color: #fff;
}

.newsletter p{
  font-size: 14px;
  letter-spacing: .05em;
  color: #fff;
}

form{
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
}

form input{
  background-color: transparent;
  color: #fff;
  width: 266px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

form input::placeholder{
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  color: #fff;
}

form button{
  background-color: transparent;
  max-width: 211px;
  width: 211px;
  height: 47px;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .05em;
  cursor: pointer;
}

.cookie-container {
  background-color: #fff;
}

.cookie{
  max-width: 1254px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  justify-content: space-between;
}

.cookie p{
  max-width: 639px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 22px;
  color: #000;
}

.cookie button{
  max-width: 200px;
  width: 200px;
  height: 47px;
  border: 1px solid #000;
  background: transparent;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 17px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  nav {
    display: none;
  }

  .small-image{
    display: none;
  }

  .newsletter-container{
    padding-bottom: 25px;
  }

  .newsletter{
    width: auto;
  }

  .newsletter-wrap{
    flex-direction: column;
  }

  form{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  form input{
    width: 320px;
    max-width: 320px;
  }

  .cookie{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    gap: 15px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px){
  .ofertas > p {
    max-width: 100%;
  }

  .lojas-parceiras > ul{
    max-width: 1254px;
    width: 100%;
    gap: 30px;
    justify-content: flex-start !important;
  }

  .header-mobile {
    display: none;
  }

  main .container{
    max-width: 1254px;
  }

  .product-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
  }

  .small-image figure{
    width: 124px;
    height: auto;
  }

  .image-main img{
    max-height: 436px;
  }

  .descript-product {
    margin-top: 35px;
  }

  .descript-product section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-image-product{
    margin-left: 35px;
  }

  .container-description,
  .container-especification{
    width: 50%;
  }

  .container-especification{
    justify-content: flex-end;
    margin-right: 16px;
  }
}


